<nav id="nav">
    <ul id="menu">
        <li class="selecionado">
            <a href="@Url.Action("Index", "Home")">Home<img src="~/icons/house.svg" alt="icon-house" /></a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Post")">Posts<img src="~/icons/archive.svg" alt="icon-archive" /></a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Ferramentas")">Ferramentas<img src="~/icons/garbage-1.svg" alt="icon-garbage" /></a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Login")">Login<img src="~/icons/login.svg" alt="icon-login" /></a>
        </li>
    </ul>

    <span class="marcador cor-1"></span>
</nav>