@{
    ViewData["Title"] = "Formatar Email Marketing";
}

<div id="content">
    <div class="container">
        <div class="white">
            <div class="conteudo">
                <form asp-controller="Ferramentas" asp-action="FormatarEmailMarketing" enctype="multipart/form-data">
                    <label>Arquivo .html</label>
                    <input type="file" name="arquivo" multiple />
                    <button type="submit" class="btn"><b>Enviar</b></button>
                </form>
            </div>
        </div>
    </div>
</div>
