@{
    ViewData["Title"] = "Ferramentas";
}

<div id="content">
    <div class="container">
        <div class="white">
            <div class="conteudo">
                <a href="@Url.Action("FormatarEmailMarketing", "Ferramentas")">Ferramenta de recorte de e-mail marketing</a>
            </div>
        </div>
    </div>
</div>